<!DOCTYPE html>
<head>
    {%  extends "base.html" %}
    <title>{{ book.title }}</title>


</head>
<!-- show book info -->
{% block content %}
    <body>
    <!-- go back button -->
    <div class="row">
        <div class="back_button">
            <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
        </div>
    </div>

    <!-- show book info -->
    <div class="book">
        <div class="book title">
            <h1>{{ book.title }}</h1>
        </div>
        <div class="book info">
            <!-- all authors with link to their page -->
            <div class="row" style="display: flex">
              <div class="column" style="flex: 50%; text-align: center;">
                  <p><b>Written by:</b>
                    {% for author in book.author_name %}
                         <a href="/books/authors/{{ author }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </p>

                <!-- all genres with link to their page -->
                <{% comment %}p><b>Genres:</b>
                         {% for genre in book.genre %}
                            <a href="/categories/{{ genre }}">{{ genre }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                </p>{% endcomment %}
                <p><b>Pages:</b> {{ book.pages }}</p>
                <p><b>Language:</b> {{ book.language }}</p>
              </div>
              <div class="column" style="flex: 50%; text-align: center;">
                    <img alt={{ book.title }} src={{ book_image }}>
              </div>
            </div>

            <div class="book rating">
                <p><b>Rating:</b> {{ book.rating }}</p>
                <img src="/static/images/star.webp" alt="rating" >
                <p><small>({{ book.reviews }} reviews)</small></p>
            </div>

            <div class="book has_seen">
                <p>Have you read this book?</p>
                {% if book.has_seen == "true" %}
                    <button type="button" class="btn btn-info" onclick="location.href='/update/{{ book.isbn }}/'">Read</button>
                {% else %}
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='/update/{{ book.isbn }}/'">Not Read</button>
                {% endif %}
            </div>
            <p><small>ISBN: {{ book.isbn }}</small></p>
            <p><small>Published by {{ book.publisher_name }} on {{ book.publication_date }}</small></p>

        </div>
    </div>
    </body>


            </div>
        </div>

    </body>

{% endblock %}
