<!DOCTYPE html>
<!-- use base.html for the layout -->
<head>
    {% extends "base.html" %}
    <!-- set the title -->
    {% block title %}Home{% endblock %}
    <!-- set the style -->
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>



{% block content %}


    <!-- display on an hexagon form the 6 icons -->
    <body>
    <br/><br/>
    <div class="container">

        <h1>Your Library</h1>

        <br>
        <h3>Search by title, author or isbn</h3>

        <form action="{% url 'search_books' %}" >
            <div class="input-group mb-3">
                <input type="search" id="keyword" class="form-control" placeholder="Search..." aria-label="Search" name="searchForm">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

        <h3>Search in a range of years</h3>
        <!-- search books between 2 years -->
        <form action="{% url 'search_books_by_years' %}" >
            <div class="input-group mb-3">
                <input type="number" id="year1" class="form-control" placeholder="Year 1" aria-label="Year 1" name="year1">
                <input type="number" id="year2" class="form-control" placeholder="Year 2" aria-label="Year 2" name="year2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

    <div class="menu">
        <div class = "hexagonArea first">
            <a href="{% url 'books' %}">
                <div class="hexagon">
                        <img src="/static/images/all.webp" alt="all books" width="100" height="100">
                    <h3>All Books: {{ nBooks }}</h3>
                </div>
            </a>
            <a href="{% url 'Good_books' %}">
                <div class="hexagon">
                        <img src="/static/images/good.webp" alt="good books" width="100" height="100">
                    <h3>Good Books: {{ nGood }}</h3>
                </div>
            </a>
            <a href="{% url 'Bad_books' %}">
                <div class="hexagon">
                        <img src="/static/images/bad.webp" alt="bad books" width="100" height="100">
                    <h3>Bad Books: {{ nBad }}</h3>
                </div>
            </a>
            <a href="{% url 'Popular_books' %}">
                <div class="hexagon">
                        <img src="/static/images/popular.webp" alt="popular books" width="100" height="100">
                    <h3>Popular: {{ nPopular }}</h3>
                </div>
            </a>

        </div>

        <div class="hexagonArea last">
            <a href="{% url 'Long_books' %}">
                <div class="hexagon">
                        <img src="/static/images/long.webp" alt="long books" width="100" height="100">
                    <h3>Long Books: {{ nLong }}</h3>
                </div>
            </a>
            <a href="{% url 'Short_books' %}">
                <div class="hexagon">
                        <img src="/static/images/short.webp" alt="short books" width="100" height="100">
                    <h3>Short Books: {{ nShort }}</h3>
                </div>
            </a>
            <a href="{% url 'read_books' %}">
                <div class="hexagon">
                        <img src="/static/images/seen.webp" alt="all books" width="100" height="100">
                    <h3>Read Books: {{ nSeen }}</h3>
                </div>
            </a>
        </div>
    </div>
    </div>
    </body>



{% endblock %}