<!-- use base.html for the layout -->
<head>
    {% extends "base.html" %}
    <!-- set the title -->
    {% block title %}Home{% endblock %}
    <!-- set the style -->
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>



{% block content %}


<!-- display on an hexagon form the 6 icons -->
<body>
    <div class="menu">
        <div class = "hexagonArea first">
                <a href="{% url 'good_books' %}">
            <div class="hexagon">
                    <img src="/static/images/good.webp" alt="good books" width="100" height="100">
                <h3>Good Books: {{ nGood }}</h3>
            </div>
                </a>
                <a href="{% url 'bad_books' %}">
            <div class="hexagon">
                    <img src="/static/images/bad.webp" alt="bad books" width="100" height="100">
                <h3>Bad Books: {{ nBad }}</h3>
            </div>
                </a>
                <a href="{% url 'popular_books' %}">
            <div class="hexagon">
                    <img src="/static/images/popular.webp" alt="popular books" width="100" height="100">
                <h3>Popular: {{ nPopular }}</h3>
            </div>
                </a>
                <a href="{% url 'read_books' %}">
            <div class="hexagon">
                    <img src="/static/images/seen.webp" alt="all books" width="100" height="100">
                <h3>Read Books: {{ nSeen }}</h3>
            </div>
                </a>


        </div>
        <div class="hexagonArea last">
                <a href="{% url 'long_books' %}">
            <div class="hexagon">
                    <img src="/static/images/long.png" alt="long books" width="100" height="100">
                <h3>Long Books: {{ nLong }}</h3>
            </div>
                </a>
                <a href="{% url 'short_books' %}">
            <div class="hexagon">
                    <img src="/static/images/short.png" alt="short books" width="100" height="100">
                <h3>Short Books: {{ nShort }}</h3>
            </div>
                </a>
                <a href="{% url 'short_books' %}">
            <div class="hexagon">
                    <img src="/static/images/all.webp" alt="all books" width="100" height="100">
                <h3>All Books: {{ nBooks }}</h3>
            </div>
                </a>

        </div>
    </div>
</body>



{% endblock %}