<head>
    {% extends "base.html" %}
    <!-- set the title -->
    {% block title %}All Books{% endblock %}
</head>

{% block content %}
    <!-- display all the books (title, author_name, genre, rating and isbn) in a table with pages (100 per page)
    and a order by dropdown menu -->


    <body>
    <div class="row">
        <div class="back_button">
            <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
        </div>
    </div>
        <div class="container">
        <div>
            <br>
            {% comment %}<p>You have read {{ nBooks }}! You are a {{ type_of_reader }}</p>{% endcomment %}
            <h3 style="">Your 'Read' List</h3>
            <table id="mytableID" style="width:100%"
                   class="table table-striped sampleTable">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <!-- if clicked on the book title, go to the book page -->
                        <tr>
                            <td><a href="/books/{{ book.isbn }}">{{ book.title }}</a></td>
                            <!-- put all the authors from the list in a string -->
                            <td>
                                {% for author in book.author_name %}
                                    <a href="/books/authors/{{ author }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for genre in book.genre %}
                                    <a href="/categories/{{ genre }}">{{ genre }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ book.rating }}</td>
                            <td>{{ book.isbn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% comment %}
         <br>
            <h3 style="">Your 'Want to Read' List</h3>

        <table id="mytableID" style="width:100%"
                   class="table table-striped sampleTable">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <!-- if clicked on the book title, go to the book page -->
                        <tr>
                            <td><a href="/books/{{ book.isbn }}">{{ book.title }}</a></td>
                            <!-- put all the authors from the list in a string -->
                            <td>
                                {% for author in book.author_name %}
                                    <a href="/books/authors/{{ author }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for genre in book.genre %}
                                    <a href="/categories/{{ genre }}">{{ genre }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ book.rating }}</td>
                            <td>{{ book.isbn }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>{% endcomment %}
        </div>
</div>
        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="/static/js/fancyTable.js"></script>
            <script src="/static/js/nav.js"></script>
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function() {
                //initialize the table
                $('#mytableID').fancyTable({
                    pagination: true,
                    perPage: 30,
                    searchable: true,
                    globalSearch: true,
                    sortable: true,
                    globalSearchPlaceholder: 'Search',
                });
            });
        </script>


    </body>

{% endblock %}
